<div class="sauna-container">
    <div class="usa-sauna">
        <div><span>USA's Best Saunas</span></div>
        <div class="usa-sauna-des"><p>Redwood Outdoors makes the USA’s best outdoor saunas and indoor saunas. Our barrel saunas are made of top-quality cedar and thermowood that is 100% natural. We have you covered with a large selection of home saunas, backyard saunas, and at home sauna kits. </p></div>
    </div>
    <div class="usa-sauna">
        <div><span>USA's Best Cold Plunge</span></div>
        <div class="usa-sauna-des"><p>Redwood Outdoors is the USA’s #1 in cold plunge, with everything you need to make cold therapy part of your routine, including cold plunge tubs and ice bath water chillers. These cold tubs can be used as an ice bath or as an electric ice bath chiller kit.</p></div>
    </div>
    <div style="margin: 0px 20px; margin-bottom: 60px;">
        <div class="live-dream-today">
            <div style="width: 50.5px; height: 24px; margin-right: 5px;">
                <img src="https://cdn-assets.affirm.com/images/white_logo-solid_bg.svg" alt="affirm">
            </div>
            <div style="margin-left: 5px; margin-right: 5px;"><p style="text-align: center; color: white; margin: 0px;">Live your dream today with financing rates as low as 0% APR</p></div>
            <a style="color: white;">Learn More</a>
        </div>
    </div>
    <div class="backyard-oasis">
        <div class="title"><h2>Create Your Backyard Oasis</h2></div>
        <div class="main_backyardiv">
            <div class="main_backyardiv_column_first">
                <h3>Outdoor Saunas</h3>
                <a href="https://best-sauna.mybigcommerce.com/shop-all/"> <button>Shop Now</button></a>
            </div>
            <div class="main_backyardiv_column_second">
                <h3>Cold Plunge Kits</h3>
                <a href="https://best-sauna.mybigcommerce.com/shop-all/"> <button>Shop Now</button></a>
            </div>
            <div class="main_backyardiv_column_third">
              <div class="main_backyardiv_column_third_top">
                    <h3>Indoor Saunas </h3>
                    <a href="https://best-sauna.mybigcommerce.com/shop-all/"> <button>Shop Now</button></a>
              </div>
              <div class="main_backyardiv_column_third_bottom">
          
                    <h3>Accessories</h3>
                    <a href="https://best-sauna.mybigcommerce.com/shop-all/"> <button>Shop Now</button></a>
              </div>
            </div>
        </div>
    </div>
    <div class="shop-confidence">
        <h2 style="text-align: center; margin-bottom: 30px;">Shop with confidence</h2>
        <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">

                    <div class="card swiper-slide" style="border: 0px solid white;">
                        <div style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
                            <div style="height: 91px;"><img style="height: 100%;" src="https://cdn11.bigcommerce.com/s-hwtczp2nyx/stencil/0c7ecbf0-5977-013c-0ed1-660662f26bf4/e/686f6c80-f1ac-013b-9840-427feb019367/img/home/icon-carousel/backyard-icon.svg" alt="Fit for Any Backyard" /></div>
                            <h4 style="margin: 20px 5px;">Fit for Any Backyard</h4>
                            <p style="text-align: center;">Choose from electric power models fit for urban backyards, or wood fired models fit for backwood cabins.</p>
                        </div>
                    </div>

                    <div class="card swiper-slide" style="border: 0px solid white;">
                        <div style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
                            <div style="height: 91px;"><img style="height: 100%" src="https://cdn11.bigcommerce.com/s-hwtczp2nyx/stencil/0c7ecbf0-5977-013c-0ed1-660662f26bf4/e/686f6c80-f1ac-013b-9840-427feb019367/img/home/icon-carousel/customer-support-icon.svg" alt="Full Customer Support" /></div>
                            <h4 style="margin: 20px 5px;">Full Customer Support</h4>
                            <p style="text-align: center;">We provide manuals, videos, and 1-on-1 support to make sure your project goes smoothly.</p>
                        </div>
                    </div>

                    <div class="card swiper-slide" style="border: 0px solid white;">
                        <div style="display: flex; align-items: center; justify-content: center; flex-direction: column">
                            <div style="height: 91px;"><img style="height: 100%" src="https://cdn11.bigcommerce.com/s-hwtczp2nyx/stencil/0c7ecbf0-5977-013c-0ed1-660662f26bf4/e/686f6c80-f1ac-013b-9840-427feb019367/img/home/icon-carousel/warranty-guarantee-icon.svg" alt="Warrantly Guarantee" /></div>
                            <h4 style="margin: 20px 5px;">Warrantly Guarantee</h4>
                            <p style="text-align: center;">Stress free purchases with a warranty included on all our Saunas.</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class='bring-nature'>
        <h2 style="text-align: center; margin-bottom: 20px;">Bringing You Closer To Nature</h2>
        <div class="video-container">
            <div class="video-wrapper">
                <iframe class=" lazyloaded" width="466" height="260" data-src="https://www.youtube.com/embed/VkfpF35cfkM?si=WGR3FpUZpsdn03pr?playlist=VkfpF35cfkM?si=WGR3FpUZpsdn03pr&amp;autoplay=1&amp;mute=1&amp;loop=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="">
                </iframe>
            </div>
        </div>
    </div>
    <div class="purpose-choose-redwood-outdoors">
        <h2 style="text-align: center; margin-bottom: 20px;">Why Choose Redwood Outdoors</h2>
        <div style="width: 100%; text-align: center; margin-bottom: 10px;">
            <p style="margin-bottom: 20px;">Whether a personal sauna or shared with family, Redwood Outdoors has a sauna to meet your needs. Choose a compact sauna for 2 people, a small sauna for 4 people, or a large sauna for 8 people. All saunas are traditional dry saunas. Make it a wood burning sauna by adding a stove and chimney to most models. All saunas are for sale online and in person.</p>
            <p>An ice bath benefits more than just your health, cold plunge benefits your mental health, sleep, and more. All cold plunge tubs and ice bath equipment are for sale online and in person. </p>
        </div>
        <div class="carousel-container">
            <section class="homepage-section lifestyle-carousel">
                
            </section>
        </div>
    </div>
</div>